@import ./variablesStyle
    
.error-message
    position: absolute
    bottom: 15%
    top: auto
    left: 50%
    transform: translate(-50%, 0%)
    font-size: 2em
    font-family: $font-family-bold

.error-message-top
    position: absolute
    bottom: 20%
    top: auto
    left: 50%
    transform: translate(-50%, 0%)
    font-size: 2em
    font-family: $font-family-bold

.error-img
    width: 20vw
    position: absolute
    top: 45%
    left: 50%
    transform: translate(-50%, -50%)